server:
  port: 8222
spring:
  cloud:
    gateway:
      server:
        webflux:
          globalcors:
            corsConfigurations:
              '[/**]':
                allowedOrigins:
                  - "http://localhost:4200"
                allowedMethods:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                  - OPTIONS
                allowedHeaders:
                  - "*"
                allowCredentials: true
          discovery:
            locator:
              enabled: true
          routes:
            - id: capteur-service
              uri: lb://CAPTEUR-SERVICE
              predicates:
                - Path=/api/capteurs/**
eureka:
  instance:
    hostname: localhost
